


.ant-layout-header {
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(45deg, #6eda78, #ffa200);
  /* background: linear-gradient(90deg, rgba(109, 234, 120, 1) 0%, rgba(255, 162, 0, 1) 50%); */
}


.ant-layout-content {
  background: linear-gradient(45deg, #6eda78, #ffa200);
  /* background: linear-gradient(90deg, rgba(109, 234, 120, 1) 0%, rgba(255, 162, 0, 1) 50%); */
}
.layout-content-white {
  background: linear-gradient(90deg, white 0%, white 50%);
}

button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #1890ff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #40a9ff;
}
.ant-btn-default:disabled {
  background: #969191;
  cursor: not-allowed;
}


/* * #ffa200 

* #6eda78  */