
.ant-layout-header {
  display: flex;
  justify-content: flex-end;
  /* background: #f0f2f5; */
  background: linear-gradient(45deg, #6eda78, #ffa200);
}

.ant-layout-content {
  /* background: linear-gradient(90deg, rgba(109, 234, 120, 1) 0%, rgba(255, 162, 0, 1) 50%); */
  background: linear-gradient(45deg, #6eda78, #ffa200);

}

button {
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background: #1890ff;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #40a9ff;
}


/* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); */